streamlit
pandas
plotly
groq
apify-client
google-api-python-client
google-genai
newsdataapi
duckduckgo-search
youtube-transcript-api
apify
firecrawl-py
tavily-python
beautifulsoup4
feedparser
pdfplumber
DDGS
google.generativeai
fastapi
